<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/users">Contact App</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link <%= path === '/users' ? 'active' : '' %>" aria-current="page" href="/users">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Add User</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>